<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>검수 상세보기</title>
</head>
<body>
<h2>검수 상세보기</h2>
<div>
  <p>모델: <span th:text="${inspection.model}"></span></p>
  <p>검수 장소: <span th:text="${inspection.place}"></span></p>
  <p>검수 날짜: <span th:text="${inspection.inspectDate}"></span></p>
</div>
<form th:action="@{/matching/request/accept/{matchingId}(matchingId=${inspection.matchingId})}" method="post">
  <input type="hidden" name="checked" value="true"/>
  <button type="submit">수락</button>
</form>
<form th:action="@{/matching/request/accept/{matchingId}(matchingId=${inspection.matchingId})}" method="post">
  <input type="hidden" name="checked" value="false"/>
  <button type="submit">거절</button>
</form>
</body>
</html>
