<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/users/join}" method="post">
    <div>
        <label for="userId">아이디:</label>
        <input type="text" id="userId" name="userId" required>
    </div>
    <div>
        <label for="userPwd">비밀번호:</label>
        <input type="password" id="userPwd" name="userPwd" required>
    </div>
    <div>
        <label for="userName">이름:</label>
        <input type="text" id="userName" name="userName" required>
    </div>
    <div>
        <label for="userNickname">닉네임:</label>
        <input type="text" id="userNickname" name="userNickname" required>
    </div>
    <div>
        <label for="userEmail">이메일:</label>
        <input type="email" id="userEmail" name="userEmail" required>
    </div>
    <div>
        <label for="userPhonenumber">전화번호:</label>
        <input type="text" id="userPhonenumber" name="userPhonenumber" required>
    </div>
    <div>
        <label for="isExpert">전문가 여부:</label>
        <input type="checkbox" id="isExpert" name="isExpert">
    </div>
    <div>
        <button type="submit">가입하기</button>
    </div>
</form>
</body>
</html>